<div class="container signup-container center">  
  <h1 class="signup-header">Sign In</h1>

  <div class="row">
    <div class="span6 offset3">
      <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email, class: "signup-label" %><br>
        <%= f.text_field :email, placeholder: "Enter Email", class: "signup-field" %><br>

        <%= f.label :password, class: "signup-label" %><br>
        <%= f.password_field :password, class: "signup-field" %><br>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary signup-btn" %>
      <% end %>

      <p class="signup-now">New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
